body{
    background: url("../images/spiration-dark.png");
    color: #fff;
}
* {
	box-sizing: border-box;
}
img { 
    height: 150px;
    width: 150px;
}
.btn {
    margin: 3px;
    background-color: #f11a1a;
    border-color: #fff;
}
.gifDiv{
    float: left;
    margin: 3px;
}
.container {
    background: url("../images/light-grey-terrazzo.png");
    color: black;
    padding: 20px;
    border-radius: 25px;
}
.jumbotron {
    background-color: inherit;
    
}
.jumbotron .h1, .jumbotron h1 {
    text-align: center;
    font-family: Ayres Serif;
    padding-bottom: 10px;
}
#copyright{
	font-size: 14px;
}
div#footer {
	clear: both;
	margin-top: 40px;
	position: center;
	bottom: 0;
	left: 0;
	text-align: center;
}
#action-input {
    width: 100%;
}
#addGif{
    width: 100%;
}

